.content, #content {
    margin: 0px auto 0px auto;
    width: 250px;
    height: 250px;
    background-color: red;
}
/* New */

/* http://javascriptissexy.com/oop-in-javascript-what-you-need-to-know/ */
 .new-menu {
    background-color: green;
    position: absolute;
}
.drag-text {
    margin-right: 20px;
    background-color: purple;
    left: 0px;
    top: 0px;
    position: absolute;
}
.minicolors-theme-default input {
    border: none;
    background-color: transparent;
}
.minicolors-opacity-slider, .minicolors-slider {
    display: none;
}
.minicolors-with-opacity .minicolors-opacity-slider {
    display: none;
}
.minicolors-with-opacity .minicolors-panel {
    width: 152px;
    margin-left: 3px;
}
.minicolors-panel:hover {
    width: 174px;
}
.minicolors-panel:hover > .minicolors-opacity-slider {
    display: block;
}
.minicolors-panel:hover > .minicolors-slider {
    display: block;
}
.menu-text#selected {
    text-align: center;
    background-color: purple;
    z-index: 1;
}
.menu-button {
    border: none;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}
input[type="range"].menu-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 10px;
}
/* Drop down menu */
 .new-menu .section {
    text-align: center;
    overflow: hidden;
}
.new-menu .section:hover {
    background-color: rgb(74, 162, 15);
}
#selectl {
    width: 90%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 5%;
    background-color: transparent;
    text-indent: 45%;
}
/* Element properites menu */
 #element-name, #width, #height {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#width, #height {
    width: 40%;
    display: inline;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
/* Canvas menu */
 #menu-canvas input {
    display: none;
}
.section#menu-canvas:hover > input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End of new */
 input.rotVal {
    width: 45px;
    border: none;
    border-radius: 100px;
    text-align: center;
    background-color: red;
}
.z-index {
    border: none;
    text-align: center;
}
.console {
    position: absolute;
    width: 500px;
    /* padding: 2px; */
    padding: 2px;
    padding-right: 10px;
    background-color: grey;
    padding-top: 10px;
}
.console input {
    width: 100%;
}
.console #log {
    width: 100%;
    border: none;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cross {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 20px;
}
.menu {
    width: 50px;
    height: 50px;
    position: absolute;
}
.minimize {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    border: 1px solid black;
    z-index: 100000000000;
    line-height: 10px;
}
.menu {
    z-index: 100000000000000;
}
.borderSel {
    -webkit-appearance: none;
    background-color: silver;
    border-radius: 0px;
    border: 0px;
    position: relative;
    left: -4px;
    top: -4px;
}
input#border-type {
    position: relative;
    display: inline-block;
    width: 90px;
    top: -4px;
}
.resultCol {
    width: 100px;
    height: 15px;
    background-color: red;
    position: relative;
    left: 12px;
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: silver;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
#rotate::-webkit-slider-thumb {
    height: 10px;
}
input[type="range"].color::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
input#newobj {
    -webkit-appearance: none;
    border: none;
    position: relative;
    left: -4px;
    top: -4px;
    text-align: center;
}
input[type="range"].z-index::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 10px;
}
.bRadius {
    position: relative;
    left: -4px;
    top: -8px;
    width: 60px;
    height: 114px;
}
input#topLeftText, input#topRightText, input#bottomLeftText, input#bottomRightText {
    width: 30px;
    display: inline-block;
}
input#redText, input#greenText, input#blueText {
    width: 30px;
    margin-left: 10px;
    display: inline-block;
}
input#zVal {
    width: 30px;
    left: -4px;
    position: relative;
    display: inline-block;
}
.text {
    transform:rotate(270deg);
}
.color {
    width: 100px;
    left: 10px;
    position: relative;
}
input#rotate {
    width: 114px;
    position: relative;
    left: -4px;
    top: -4px;
}
.z-index {
    width: 114px;
    left: -4px;
    position: relative;
}
.text#rotateText {
    left: -22px;
    position: absolute;
    font-size: 12px;
    top: 70px;
}
input#opacity {
    transform: rotate(90deg);
    left: -55px;
    height: 10px;
    width: 112px;
    top: 72px;
    position: absolute;
}
input.bRadius {
    height: 10px;
    width: 112px;
    position: relative;
}
.rot {
    display: inline-block;
}
.menu {
    width: 160px;
    min-height: 100%;
    position: relative;
}
input[type="text"] {
    display: block;
    background-color: transparent;
    border: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input#class, input#id, input#bgcolor {
    width: 50px;
    display: inline-block;
}
.editor {
    position: absolute;
}
.wText, .hText {
    position: absolute;
    font-size: 10px;
    display: inline-block;
    top: -10px;
    left: 20px;
}
.hText {
    left: 65px;
}
.output {
    display: inline-flex;
}